.checkbox-group {
    text-align: left;
    margin-bottom: 20px;
}

.checkbox-group label {
    font-size: 14px;
    color: #888;
}

.checkbox-group input {
    margin-right: 10px;
}

/* Göz butonları için eklenebilir */
input[type="password"] {
    position: relative;
}

input[type="password"]::placeholder {
    font-style: italic;
}
